// 引入OpenLayers默认样式
@import '~ol/ol.css';

// 基础样式重置
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ol-zoom-in {
  width: 0;
  height: 0;
}

// 字体图标
@import '@fortawesome/fontawesome-free/css/all.min.css';